@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');
@font-face {
    font-family: 'Android';
    src: url('../fontes/idroid.otf') format('opentyoe');
    font-weight: normal;
}

:root{
    --cor0:#C0D9FE;
    --cor1:#7DA0D4;
    --cor2:#486FA9;
    --cor3:#21467F;
    --cor4:#082654;
    --cor5:#051937;

    --fonte-padrao: Arial, Verdana, Helvetica, sans-serif;
    --fonte-destaque: 'Bebas Neue';
    --fonte-android: 'Android';
}

* {
    margin: 0px;
    padding: 0px;
}


html, body {
    background-color: var(--cor2);
    font-family: var(--fonte-padrao);
    height: 100%;
    display: flex;
    flex-direction: column;
    margin: 0px;
    padding: 0px;
}

/* header */

header {
    background-color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 40px;
    border-bottom: 1px solid #ddd;
    flex-wrap: wrap;
}

header > div#nome > h1 {
    color: black;
    font-family: var(--fonte-destaque);
    font-weight: normal;
    font-size: 1.5rem;
    text-align: left;

}

header > nav {
    background-color: white;
    font-family: var(--fonte-destaque);
    font-size: 1.5rem;
    display: flex;
    gap: 20px;
}

header > nav > a {
    color: black;
    text-decoration: none;
    font-weight: normal;
    transition: var(--cor3) 0.2s ease-in-out;
}

header > nav > a:hover {
    color: var(--cor3);
}

/* Main */

main {
    flex: 1;
    display: flex;
}

.profile-container {
  display: flex;
  flex: 1;
  align-items: center;
  width: 1200px;
  margin: 40px auto;
  background-color: #fff;
  box-shadow: 0 10px 20px rgba(0,0,0,0.1);
}

/* Coluna Esquerda */
.profile-card {
  background-color: var(--cor4);
  padding: 40px;
  text-align: center;
  width: 350px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  
}

.profile-img {
  width: 160px;
  height: 160px;
  border-radius: 50%;
  object-fit: cover;
  margin-bottom: 20px;
}

.profile-card h2 {
  font-size: 24px;
  font-weight: bold;
  color: white;
  margin: 0;
}

.divider {
  width: 80px;
  height: 3px;
  background-color: #007bff;
  margin: 10px 0;
}

.job-title {
  letter-spacing: 2px;
  color: white;
  font-size: 14px;
  text-transform: uppercase;
  margin-bottom: 30px;
}

.social-icons {
  display: flex;
  gap: 15px;
  justify-content: center;
  margin-top: auto;
}

.social-icons a {
    color: white;
    text-decoration: none;
}

.social-icons img {
  width: 20px;
  height: 20px;
}

/* Coluna Direita */
.profile-info {
  flex: 1;
  padding: 50px;
  background-color: #fff;
}

.profile-info h1 {
  font-size: 60px;
  margin: 0;
}

.profile-info h2 {
  font-size: 24px;
  color: #333;
  font-weight: 400;
  margin: 10px 0 30px;
}

.profile-info p {
  font-size: 18px;
  color: #444;
  line-height: 1.6;
}

.buttons {
  display: flex;
  gap: 15px;
  margin-bottom: 30px;
}

.btn {
  padding: 12px 24px;
  font-weight: bold;
  border-radius: 30px;
  text-decoration: none;
  font-size: 14px;
  transition: 0.3s ease;
}

.btn.blue {
  background-color: #0066ff;
  color: white;
  border: none;
}

.btn.outline {
  border: 1px solid black;
  color: black;
  background-color: white;
}

.btn.blue:hover {
  background-color: #0052cc;
}

.btn.outline:hover {
  background-color: #f0f0f0;
}



/* Footer */

footer {
    background-color: #f4f4f4;
  height: 100px; 
  width: 100%;
  display: flex;
  align-items: center;   
  justify-content: center; 
  text-align: center;
  color: #333;
  font-size: 14px;
  border-top: 1px solid #ddd;
}